/* color */
.color-black {
  color: #000;
}

.color-white {
  color: #fff;
}

.color-mathematics {
  color: #4dccff;
}

.color-physics {
  color: #002060;
}

.color-chemistry {
  color: #d50000;
}

.color-biology {
  color: #5b6f3a;
}

.color-earthscience {
  color: #ffc000;
}

.color-informatics {
  color: #7030a0;
}

.color-kako {
  color: #ee0;
}

.color-linguistics {
  color: #ff8224;
}

.color-astronomy {
  color: #000;
}

.color-geography {
  color: #92d050;
}

.color-philosophy {
  color: #dddddd;
}

.color-economics {
  color: #0070c0;
}

.color-brainscience {
  color: #006630;
}

.color-ai {
  color: #43a;
}

.color-socialscience {
  color: #1e6c93;
}

/* background */
.background-black {
  background-color: #000;
}

.background-white {
  background-color: #fff;
}

.background-gray {
  background-color: #555;
}

.background-darkgray {
  background-color: #222;
}

.background-mathematics {
  background-color: #4dccff;
}

.background-physics {
  background-color: #002060;
}

.background-chemistry {
  background-color: #d50000;
}

.background-biology {
  background-color: #5b6f3a;
}

.background-earthscience {
  background-color: #ffc000;
}

.background-informatics {
  background-color: #7030a0;
}

.background-kako {
  background-color: #ee0;
}

.background-linguistics {
  background-color: #ff8224;
}

.background-astronomy {
  background-color: #000;
}

.background-geography {
  background-color: #92d050;
}

.background-philosophy {
  background-color: #dddddd;
}

.background-economics {
  background-color: #0070c0;
}

.background-brainscience {
  background-color: #006630;
}

.background-ai {
  background-color: #43a;
}

.background-socialscience {
  background-color: #1e6c93;
}

.background-absolute {
  background: linear-gradient(135deg,
    #08acd5 0%, #29c5ec 45%, #7ee5ff 70%, #29c5ec 85%, #08acd5 90% 100%
  );
}

.background-first {
  background: linear-gradient(135deg,
    #00b956 0%, #2ce181 45%, #9effcb 70%, #2ce181 85%, #00b956 90% 100%
  );
}

.background-gold {
  background: linear-gradient(135deg,
    #ca8a0b 0%, #daaf08 45%, #fee9a0 70%, #daaf08 85%, #ca8a0b 90% 100%
  );
}

.background-silver {
  background: linear-gradient(135deg,
    #848484 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #848484 90% 100%
  );
}

.background-bronze {
  background: linear-gradient(135deg,
    #b05c08 0%, #bd8d15 45%, #fed5a0 70%, #bd8d15 85%, #b05c08 90% 100%
  );
}

/* border-color */
.border-mathematics {
  border-color: #4dccff;
}

.border-physics {
  border-color: #002060;
}

.border-chemistry {
  border-color: #d50000;
}

.border-biology {
  border-color: #5b6f3a;
}

.border-earthscience {
  border-color: #ffc000;
}

.border-informatics {
  border-color: #7030a0;
}

.border-kako {
  border-color: #ee0;
}

.border-linguistics {
  border-color: #ff8224;
}

.border-astronomy {
  border-color: #000;
}

.border-geography {
  border-color: #92d050;
}

.border-philosophy {
  border-color: #dddddd;
}

.border-economics {
  border-color: #0070c0;
}

.border-brainscience {
  border-color: #006630;
}

.border-ai {
  border-color: #43a;
}

.border-socialscience {
  border-color: #1e6c93;
}

/* gradient */
.gradient-black {
  background: linear-gradient(to bottom, #000 70%, transparent);
}

.gradient-white {
  background: linear-gradient(to bottom, #fff 70%, transparent);
}

.gradient-gray {
  background: linear-gradient(to bottom, #555 70%, transparent);
}

.gradient-darkgray {
  background: linear-gradient(to bottom, #222 70%, transparent);
}

.gradient-mathematics {
  background: linear-gradient(to bottom, #4dccff 70%, transparent);
}

.gradient-physics {
  background: linear-gradient(to bottom, #002060 70%, transparent);
}

.gradient-chemistry {
  background: linear-gradient(to bottom, #d50000 70%, transparent);
}

.gradient-biology {
  background: linear-gradient(to bottom, #5b6f3a 70%, transparent);
}

.gradient-earthscience {
  background: linear-gradient(to bottom, #ffc000 70%, transparent);
}

.gradient-informatics {
  background: linear-gradient(to bottom, #7030a0 70%, transparent);
}

.gradient-kako {
  background: linear-gradient(to bottom, #ee0 70%, transparent);
}

.gradient-linguistics {
  background: linear-gradient(to bottom, #ff8224 70%, transparent);
}

.gradient-astronomy {
  background: linear-gradient(to bottom, #000 70%, transparent);
}

.gradient-geography {
  background: linear-gradient(to bottom, #92d050 70%, transparent);
}

.gradient-philosophy {
  background: linear-gradient(to bottom, #dddddd 70%, transparent);
}

.gradient-economics {
  background: linear-gradient(to bottom, #0070c0 70%, transparent);
}

.gradient-brainscience {
  background: linear-gradient(to bottom, #006630 70%, transparent);
}

.gradient-ai {
  background: linear-gradient(to bottom, #43a 70%, transparent);
}

.gradient-socialscience {
  background: linear-gradient(to bottom, #1e6c93 70%, transparent);
}

/*

レーティングの色 (メモ)
-1         #000000
0-299      #808080
300-599    #0000ff
600-899    #00c0c0
900-1199   #008000
1200-1499  #c0c000
1500-1799  #ff8000
1800-2099  #ff0000
2100-2399  #ff80ff
2400-2699  #a000a0
2700-2999  BRONZE
3000-3299  SILVER
3300-      GOLD  

*/