body {
  padding-top: 80px;
  font-size: 16px;
  width: 100%;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color: #f8f8f8;
}

hr {
  border-color: #0004;
}

body>hr {
  margin: 10px 2.5%;
}

body>a {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

a {
  word-break: break-all;
}

.h2 {
  margin: 15px 2.5%;
  font-size: 28px;
  font-weight: 400;
  font-variant: small-caps;
}

.h2::first-letter {
  color: #0055dd;
}

.tag {
  margin: 0 2px;
  padding: 1px 7px;
  height: calc(1em * 1.25);
  border-radius: 2px;
  text-indent: 0;
  font-weight: 500;
  font-size: 95%;
  font-family: 'Roboto Condensed', 'Noto Sans JP', '';
  align-content: center;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1px;
}

/*
  additional-tag 種類想定
  1. -yo(予選出場≒参加) -ho(本選出場) -ko(代表選抜参加)
  2. 年次明示
*/
.additional-tag-wrapper {
  margin: 0 2px;
  padding: 0 7px 0 0;
  height: calc(1em * 1.3);
  border-radius: 2px;
  text-indent: 0;
  font-weight: 500;
  font-size: 95%;
  font-family: 'Roboto Condensed', 'Noto Sans JP', '';
  display: inline-block;
  box-sizing: border-box;
  line-height: 1px;
  white-space: nowrap;
}

.additional-tag-innertag {
  margin: 0 3px 0 0;
  padding: 0 3px 0 7px;
  height: 100%;
  text-indent: 0;
  border-radius: 2px;
  align-content: center;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1px;
}

.basic-container {
  width: 90%;
  margin: 5px auto;
  background-color: #fff;
  border: solid 1px #0004;
  border-radius: 3px;
  box-shadow: #0000001a 0 0 30px;
  overflow: hidden;
}

.basic-container-flex {
  width: 95%;
  margin: 5px auto;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #0004;
  border-radius: 3px;
  box-shadow: #0000001a 0 0 30px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  box-sizing: border-box;
}

.username {
  font-family: 'Roboto Condensed', 'Noto Sans JP', sans-serif;
  font-weight: 500;
}

.username-large, .contest-title {
  margin: 10px 10px 0 10px;
  font-size: 28px;
  font-family: 'Roboto Condensed', 'Noto Sans JP', sans-serif;
  font-weight: 500;
}

.user-belongs, .contest-subtitle {
  margin: 0 10px 10px 10px;
  color: #888;
  font-size: 15px;
  font-family: 'Roboto Condensed', 'Noto Sans JP', sans-serif;
}

.user-profile-container, .basic-container-inner {
  margin: 10px;
}

.user-profile-item {
  width: 100%;
  height: fit-content;
}

.user-profile-item-title {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 400;
}

.user-profile-item-table {
  border-collapse: collapse;
  width: 100%;
}

.user-profile-item-table th,
.user-profile-item-table td {
  border: solid 1px #0002;
}

.user-profile-item-table th {
  width: 120px;
}

.user-profile-item-table td {
  width: calc(100% - 120px);
}

.button-blue {
  height: 32px;
  min-width: 150px;
  background-color: #0023b8;
  border: solid 1px #00f3;
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: #0023b822 0px 0px 30px;
}

.button-blue:hover {
  background-color: #0023b888;
}

.button-white {
  height: 32px;
  min-width: 150px;
  background-color: #fff;
  border: solid 1px #00f3;
  color: #0023b8;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: #0023b811 0px 0px 30px;
}

.button-white:hover {
  background-color: #0023b822;
}

.basic-text {
  margin: 10px;
}

.basic-h3 {
  margin: 10px;
  font-size: 20px;
  color: #444444;
  font-weight: 500;
}

.circle-black::before {
  content: "◉";
  color: #000000;
}

.circle-red::before {
  content: "◉";
  color: #ff0000;
}

.circle-blue::before {
  content: "◉";
  color: #0000ff;
}

.circle-green::before {
  content: "◉";
  color: #00ff00;
}

.circle-orange::before {
  content: "◉";
  color: #ff8800;
}

.basic-container-inner h3 {
  margin: 10px 0;
  padding-left: 5px;
  border-left-style: solid;
  border-left-width: 10px;
  box-sizing: border-box;
  font-size: 24px;
}

.basic-container-inner h4 {
  margin: 10px 0;
  border-bottom: solid 3px #888888;
  font-size: 20px;
}

.basic-container-inner h5 {
  margin: 10px 0;
  font-size: 18px;
}

.basic-container-inner p {
  text-indent: 1rem;
}

.basic-container-inner .citation {
  padding-left: 10px;
  border-left: solid 5px #888888;
  color: #444444;
}

.triangle-bottom {
  margin: 10px 0;
  height: calc(30px * 0.75);
  width: 30px;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.link-container {
  width: 90%;
  margin: 0 5%;
}

.link-container a::before {
  content: ">";
}

.link-box {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: fit-content;
  padding: 5px;
  border: solid 1px #aaaaaa;
  box-shadow: #aaaaaa22 0px 0px 30px;
  border-radius: 3px;
  overflow: hidden;
}

.link-box a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link-box a:hover {
  background-color: #00000011;
}

.link-box p {
  margin: 0;
  font-size: 14px;
  text-indent: 0;
}

.table-wrapper {
  overflow-x: scroll;
}