.editorial-link {
  position: relative;
  height: fit-content;
  width: 300px;
  margin: 5px;
  padding: 5px;
  border: solid 1px #0004;
  border-radius: 3px;
  box-shadow: #0001 0 0 10px;
  overflow: hidden;
}

.editorial-link a:not(.username) {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.editorial-link a:not(.username):hover {
  background-color: #0001;
}

.editorial-link-title {
  text-indent: 0 !important;
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto Condensed', 'Noto Sans JP', sans-serif;
  white-space: nowrap;
}

.editorial-link-data {
  text-indent: 0 !important;
  margin: 5px 0 0 0;
  font-size: 14px;
  font-weight: 500;
}

.editorial-link-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.edit-textarea-container {
  position: relative;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 10px 0;
}

.edit-textarea-dummy {
  overflow: hidden;
  visibility: hidden;
  box-sizing: border-box;
  padding: 5px 10px;
  min-height: 120px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid;
}

.edit-textarea {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #b6c3c6;
  border-radius: 4px;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  resize: none;
}

.edit-textarea:focus {
  box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
  outline: 0;
}